.form-control:focus {
    box-shadow: none;
}

.logo{
    width: 5rem;
    height: auto;
}

.margin-top{
    margin-top: 5rem;
}


@media (min-width:768px) {
    .card{
        width: 18rem;
    }
}
@media (min-width:992px) {
    .card{
        width: 18rem;
    }
}